<body class="container">
<body class="text-center">
    
    <main class="form-signin">
      <form>
        <img class="mb-4"  alt="" width="124" height="115" src="https://images.vexels.com/media/users/3/135248/isolated/preview/c242693ffb353188d2819ad2c6bcaaab-inicio-de-sesi-oacute-n-de-usuario-sobre-el-cuadrado-rojo-by-vexels.png">
        <h1 class="h3 mb-3 fw-normal" style="color: azure;">Tienda CRUD</h1>
    
        <div class="form-floating">
          <input type="email"  class="form-control" id="floatingInput" placeholder="name@example.com"
           >
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password"  class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Registrarse</button>
        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" (click)="loginWithGoogle()">Registrar con Google</button>
        <p class="mt-5 mb-3 text-muted" style="color: azure;" >&copy; Angular + Firebase</p>
      </form>
    </main>
    
    
        
      </body>
    </body> 
